<footer>


    <a href="@Url.Action("Addons","Home")"> <span style="color:rgba(255,255,255,0.7)">Addons</span></a>
    <a href="@Url.Action("Terms","Home")"> <span style="color:rgba(255,255,255,0.7)"> Terms</span></a>
    @*<a href="@Url.Action("Remarks","Home")"> <span style="color:rgba(255,255,255,0.7)">Remarks</span></a>*@
    <a href="@Url.Action("Ref.Adj","Home")"> <span style="color:rgba(255,255,255,0.7)">Ref.Adj</span></a>
    <a href="@Url.Action("attechedDocs.","Home")"> <span style="color:rgba(255,255,255,0.7)">attechedDocs </span></a>
    <a href="@Url.Action("LinkDocs.","Home")"> <span style="color:rgba(255,255,255,0.7)">LinkDocs</span></a>



</footer>